.Gig-Poster-2022-2023-1-hex {
    color: #4E74A6;
}

.Gig-Poster-2022-2023-2-hex {
    color: #F2EFE9;
}

.Gig-Poster-2022-2023-3-hex {
    color: #F2911B;
}

.Gig-Poster-2022-2023-4-hex {
    color: #F27405;
}

.Gig-Poster-2022-2023-5-hex {
    color: #D92211;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tarjetas {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header {
    background-image: linear-gradient(to right, #749aca, #4E74A6, #385881);
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    min-height: 5vh;
    margin: 0%;
    padding: 0%;
}

.nav li a {
    color: #244166 !important;

}

a {
    color: #F2EFE9 !important;
    text-decoration: none !important;
}

a.seleccionado {
    background: #bdbdbd;
    border-radius: 1rem;
    font-weight: bold;
}

.busqueda {
    color: #244166;
    border-radius: 0.5rem;
    border-color: transparent;
}

#nombre>button {
    background-color: #f5f5f5;
    color: #244166;
    border: none;
    border-radius: 1rem;
    font-weight: 500;
}

#mensaje {
    background-color: #385881;
    color: #fff;
    position: fixed;
    top: 57px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

#nombre>h6 {
    cursor: pointer;
    color: #ffffff;
    margin-right: 1rem;
    padding-top: 0.3rem;
}

main {
    padding-top: 100px;
    margin: 0 !important;
    flex: 1;
}

.navegacion {
    background-image: linear-gradient(to right, #f5f5f5, #d1d1d1);
    color: #F2EFE9;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

#mensaje {
    height: 40px;
    background-image: linear-gradient(to right, #f5f5f5, #d1d1d1);
    color: #749aca;
    font-weight: 600;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

#itemNoticia {
    cursor: pointer;
    font-weight: 500;
}

header>div>a>span {
    min-width: max-content;
    display: block;
}

.fs-3 {
    font-weight: 800;
}

.card>img {
    max-height: 25vh;
    object-fit: cover;
}

.titulo>h4 {
    font-size: large;
}

.card {
    background-color: #fdf9f3 !important;
    color: #4E74A6 !important;
    font-weight: 600;
    width: 300px !important;
    height: 350px !important;
    box-shadow: 5px 5px 50px 50px rgba(201, 201, 201, 0.64);
    -webkit-box-shadow: 5px 5px 12px 1px rgba(201, 201, 201, 0.64);
}

.titulo {
    height: 60%;
}

.nombre {
    height: 10%;
    color: #F2911B;
    font-style: italic;
    padding-top: 0.5rem;
}

.fecha {
    height: 10%;
    color: #385881;
    font-weight: 700;
}

/* carga Noticias*/
#form,
#formPeriodista {
    min-width: 50vw;
    font-size: medium;
    font-weight: 700;
    color: #F27405;
}

#form>div>label,
.period {
    margin-top: 2rem;
}

.period {
    border-radius: 1rem;
}

.formPeriodista {
    padding-top: 1rem;
    border-radius: 1rem;
    background-color: #ffffff;
}

#formPeriodista {
    color: #4E74A6 !important;
}

#cuerpo {
    height: 20vh;
}

.noticias>h1 {
    padding-top: 2rem;
}

/* formulario de carga de noticias */
.noticias {
    border: 1px solid;
    border-color: #F27405;
    border-radius: 1rem;
    margin-top: 3rem;
    min-height: 75vh;
    max-width: 55vw !important;
    color: #4E74A6;
    box-shadow: 19px 16px 64px -32px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 19px 16px 64px -32px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 19px 16px 64px -32px rgba(0, 0, 0, 0.64);
}

.btn,
.perfil>button {
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: #0c1520 !important;
    color: #F2EFE9 !important;
    font-weight: 600 !important;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.perfil>button {
    border: none;
    border-radius: 1rem;
}

#tbody>tr>td>button,
#tbodyPeriodista>tr>td>button {
    border: none;
    background-color: transparent;
}

#tbody>tr>td>button>span,
#tbodyPeriodista>tr>td>button>span {
    font-size: larger;
}

/* card de pagina de detalle de noticia */
#cardDetail {
    width: 50vw !important;
    height: max-content !important;
    color: #4E74A6 !important;
    font-weight: 500;
    border: none;
    text-align: justify;
    background-color: transparent !important;
}

/* titulo de noticia detalle */
#cardDetail>div>div>h2 {
    color: #F27405 !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#parrafosNoticia {
    margin-top: 1.5rem;
}

#cardimg {
    border-radius: 0.4rem 0.4rem 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

#cat,
#autor {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#cat {
    background-color: #749aca;
    color: #F2EFE9;
}

#autor {
    color: #244166;
    font-size: smaller;
    align-self: self-end;
}

#fecha {
    font-size: smaller;
    padding-right: 0.5rem;
}


.footer {
    flex-shrink: 0;
    height: 30px !important;
    margin-top: 2rem;
    margin-bottom: 0;
    background-image: linear-gradient(to right, #749aca, #4E74A6, #385881);
    color: #749aca !important;
}

ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.agregar {
    height: 8vh;
    margin: 1rem;
}

.agregar>button,
.button,
.agregar>a>button {
    background-color: transparent;
    border: none;
}

.agregar>button,
.agregar>a>button {
    font-size: x-large;
}

thead {
    color: #F2911B;
}

.table {
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    margin-bottom: 0;
}

table {
    color: #4E74A6;
    text-decoration: none;
    width: 100%;
    border-color: #749aca !important;
}

#formCategoria,
#formUpdateCategoria {
    width: 90%;
}

.table>h4 {
    color: #4E74A6;
    margin-bottom: 1.5rem;

}

#mensajeModal,
#mensajeModal2 {
    height: 6vh;
    background-image: linear-gradient(to right, #749aca, #4E74A6, #385881);
    border-radius: 0px 0px 0.4rem 0.4rem;
}

#mensajeModal>p,
#mensajeModal2>p {
    color: #F2EFE9;
    margin-top: 0.5rem;
}

/* imagen perfil */
#perfil {
    height: 50vh;
    margin-right: 3rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.perfil {
    margin-top: 3rem;
    height: 70vh;
    color: #244166;
}

.perfil>div>p {
    color: #F27405;
    font-weight: 700;
    font-size: large;
}

#formRegistro>div>input {
    color: #F27405 !important;
}

#formRegistro>button {
    background-color: #0c1520;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.modal {
    color: #244166;
}

.modal-dialog {
    position: absolute;
    top: 15%;
    border-radius: 5px;
}

/* linea divisoria */
.divisoria::after {
    content: '';
    display: block;
    border-top: 1px solid #ccc;
    width: 90vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* comentarios Form */
#comentarios {
    margin-top: 1.5rem;
    margin-left: 1.7rem;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

#comentarios>div>button {
    background-color: #F2911B !important;
}

/* comentarios hechos */
.comentario {
    background-color:#f3f3f3c0;
    margin-top: 1.5rem;
    margin-left: 2rem !important;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: 40vw !important;
    float: left;
}

.comentario>h6{
    padding-top: 0.5rem;
    color:#F2911B;
}

.comentario>p{
    color:#385881;
    font-weight: 600;
}

#eliminar{
    margin-left: -1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;    
    color:#385881;
    font-size: small;
}

.tituloComentario>h6{
    margin-top: 1.5rem;
    margin-left: 2rem !important;
    color:#F27405;
    font-weight: 800 !important;
}