.Gig-Poster-2022-2023-1-hex {
    color: #4E74A6;
}

.Gig-Poster-2022-2023-2-hex {
    color: #F2EFE9;
}

.Gig-Poster-2022-2023-3-hex {
    color: #F2911B;
}

.Gig-Poster-2022-2023-4-hex {
    color: #F27405;
}

.Gig-Poster-2022-2023-5-hex {
    color: #D92211;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.tarjetas {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header {
    background-image: linear-gradient(to right, #749aca, #4E74A6, #385881);
}

.nav li a {
    color: #244166 !important;
}

a {
    color: #F2EFE9 !important;
    text-decoration: none !important;
}

a.seleccionado {
    background: #bdbdbd;
    border-radius: 1rem;
    font-weight: bold;
}

.busqueda {
    color: #244166;
    border-radius: 0.5rem;
    border-color: transparent;
}

#nombre>button {
    background-color: #f5f5f5;
    color: #244166;
    border: none;
    border-radius: 1rem;
    font-weight: 500;
}

#nombre>h6 {
    cursor: pointer;
    color: #ffffff;
    margin-right: 1rem;
    padding-top: 0.3rem;
}

header>div>a>span {
    min-width: max-content;
    display: block;
}

.fs-3 {
    font-weight: 800;
}

.card>img {
    max-height: 25vh;
    object-fit: cover;
}

.titulo>h4 {
    font-size: large;
}

.card {
    background-color: #fdf9f3 !important;
    color: #4E74A6 !important;
    font-weight: 600;
    width: 300px !important;
    height: 350px !important;
    box-shadow: 5px 5px 50px 50px rgba(201, 201, 201, 0.64);
    -webkit-box-shadow: 5px 5px 12px 1px rgba(201, 201, 201, 0.64);
}

.titulo {
    height: 60%;
}

.nombre {
    height: 10%;
    color: #F2911B;
    font-style: italic;
    padding-top: 0.5rem;
}

.fecha {
    height: 10%;
    color: #385881;
    font-weight: 700;
}

/* carga Noticias*/
#form {
    min-width: 50vw;
    font-size: medium;
    font-weight: 700;
    color: #F27405;
}

#form>div>label {
    margin-top: 2rem;
}

#cuerpo {
    height: 20vh;
}

.noticias>h1 {
    padding-top: 2rem;
}

/* formulario de carga de noticias */
.noticias {
    border: 1px solid;
    border-color: #F27405;
    border-radius: 1rem;
    margin-top: 3rem;
    min-height: 75vh;
    max-width: 55vw !important;
    color: #4E74A6;
    box-shadow: 19px 16px 64px -32px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 19px 16px 64px -32px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 19px 16px 64px -32px rgba(0, 0, 0, 0.64);
}

.btn,
.perfil>button {
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: #0c1520 !important;
    color: #F2EFE9 !important;
    font-weight: 600 !important;
    margin-bottom: 1rem;
    
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.perfil>button {
    border: none;
    border-radius: 1rem;
}

/* card de pagina de detalle de noticia */
#cardDetail {
    width: 50vw !important;
    height: max-content !important;
    color: #4E74A6 !important;
    font-weight: 500;
    border: none;
    text-align: justify;
}

#cardDetail>div>div>h2 {
    color: #F27405 !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.info>p {
    margin-top: 1rem;
    color: #749aca;
    padding-right: 1rem;
}

#cardimg {
    border-radius:0.4rem 0.4rem 0px 0px ;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    margin-top: 2rem;
    background-image: linear-gradient(to right, #749aca, #4E74A6, #385881);
    color: #0c1520 !important;
}

header {
    min-height: 5vh;
}

main {
    min-height: 88vh;
}

ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navegacion {
    background-image: linear-gradient(to right, #f5f5f5, #d1d1d1);
    color: #F2EFE9;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

#mensaje,
#mensajeAdmin {
    min-height: 40px;
    background-image: linear-gradient(to right, #f5f5f5, #d1d1d1);
    color: #F2EFE9;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

#mensajeAdmin {
    background-color: #F27405 !important;
}

.agregar {
    height: 8vh;
    margin: 1rem;
}

.agregar>button,
.button,
.agregar>a>button {
    background-color: transparent;
    border: none;
}

.agregar>button,
.agregar>a>button {
    font-size: x-large;
}


.table {
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

table {
    color: #244166;
    text-decoration: none;
    width: 100%;
    border-color: #F2911B !important;
}

#formCategoria {
    width: 90%;
}

.modal {
    color: #244166;
}

#mensajeModal {
    height: 6vh;
    background-image: linear-gradient(to right, #749aca, #4E74A6, #385881);
    border-radius:0px 0px 0.4rem 0.4rem;
}

#perfil {
    height: 50vh;
    margin-right: 3rem;    
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.perfil {
    margin-top: 3rem;
    height: 70vh;
    color: #244166;
}

.perfil>div>p {
    color: #F27405;
    font-weight: 700;
    font-size: large;
}

#formRegistro>div>input {
    color: #F27405 !important;
}

#formRegistro>button {
    background-color: #0c1520;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}